body{
  color: #252323;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 20;
  line-height: 1.625em;
  position: relative;
  margin:auto;
  max-width: 1170px;
  padding:10px;
}
header{
  background-color: whitesmoke;
  color: #2C2A58;
  text-align: left;
  padding: auto;
}
nav ul {
  list-style: none;
  padding: 0;
  
}
nav ul li{
  display: inline;
  margin-right: 20px;
}
section{
  max-width: flex;
  margin: 20px auto;
  font-weight: 300;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: rgb(119, 119, 119);
}
footer{
  background-color: rgb(15, 15, 77);
  color: #fff;
  text-align: center;
  padding: 1em;
}
video{
  width: 100%;
  height: 77%;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.video-container{
  
}

.video-text{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate3d(-50%,-50%);
  color: white;
  font-size: 46px;
  text-align: left;
  line-height: 1em;
  font-weight: 1000;
  flex-direction: column;
  margin: 20px auto;

}
.floating-text{
  max-width: fit-content;

}
.social-media-icons {
  display: block;
  justify-content: space-around;
  width: auto;
  margin: 20px auto;
  size: 100px;
  font-size: 4em;

 }
 
 .social-media-icons a {
  color: black;
  text-decoration: none;
  
 }
 p{
  margin-bottom: 2px;
 }
 .email-box{
    height:30px;
    margin-top: 10px;
 }
 .box-email{
  margin-top: 0px;
 }
.about-welcome-header{
  text-align: center;
  padding: auto;
  color: rgb(15, 15, 77);
}
.about-welcome-h2{
  text-align: center;
  padding: auto;
  color: rgb(15, 15, 77);
}
.about-text{
  text-align: justify;
  text-align-last: center;
  font-weight: lighter;
}
.header-scrolled{
  z-index: 997;
  width: 100% !important;
  transition: all 0.5s ease 0s;
  display: block;
}
.about-text2{
  text-align: justify;
  text-align-last: center;
  font-weight: lighter;
}
.about-text3{
  text-align: justify;
  text-align-last: center;
  font-weight: lighter;
}

/*contact*/
.name-box{
  height: 40px;
  width: 500px;
}
.mail-box{
  margin-top: 10px;
  height: 40px;
  width: 500px;
}
.subject-box{
  margin-top: 10px;
  height: 40px;
  width: 500px;
}
.message-box{
  margin-top: 10px;
  height: 100px;
  width: 500px;
  
}
.message-button{
  background-color: darkgoldenrod;
  color: whitesmoke;
  border-color: white;
  height:40px;
  margin-top: 5ppx;
  width: auto;
  
}
.resource-text{
  font-size: 18px;
  padding-top: 1px;
  margin-top: 10px;
}
