body{
  color: #777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  margin:auto;
  max-width: 1170px;
  padding:10px;
}
header{
  background-color: whitesmoke;
  color: #2C2A58;
  text-align: left;
  padding: auto;
}
nav ul {
  list-style: none;
  padding: 0;
  
}
nav ul li{
  display: inline;
  margin-right: 20px;
}
section{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
}
video{
  width: 100%;
  height: 77%;
  overflow-clip-margin: content-box;
  overflow: clip;
}
